<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/farm" routerLinkActive="active">Farming Guide</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/raid" routerLinkActive="active">Raid Guide</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/war" routerLinkActive="active">War Guide</a>
    </li>
  </ul>
</div>